<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button type='button' color='medium' (click)='cancel()' [disabled]='submitting'>
        <ion-icon slot='start' name='close'></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div *ngIf="category.id; else elseBlock">Edit Category</div>
      <ng-template #elseBlock>Add Category</ng-template>
    </ion-title>
    <ion-buttons slot='end'>
      <ion-button type='button' color='medium' (click)='save()'
                  [disabled]='categoryForm.pristine || categoryForm.invalid || submitting'>
        <ion-icon slot='start' name='save'></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf='submitting' type='indeterminate'></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content class='ion-padding' [formGroup]='categoryForm'>
  <ion-item>
    <ion-icon slot='start' name='text'></ion-icon>
    <ion-input maxlength='40' placeholder="Enter the category's name" required formControlName='name' [disabled]='submitting'></ion-input>
  </ion-item>
  <ion-fab slot='fixed' vertical='bottom' horizontal='end'>
    <ion-fab-button (click)='delete()' color='danger'>
      <ion-icon name='trash'></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

